.page {
  // .page__section

  &__section {
    @include adaptiveValue("margin-bottom", 70, 0, 0, 1272, 450);
  }
}
.about-section {
  display: block;
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.99) 85.54%
      )
      center/ 110%,
    url(../img/about_section1_4_11zon.webp) center / cover no-repeat;

  // .about-section__container

  &__container {
    @include adaptiveValue("padding-top", 120, 30, 0, 1272, 767.98);
    @include adaptiveValue("padding-bottom", 120, 40, 0, 1272, 767.98);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  // .about-section__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .about-section__title

  &__title {
    display: inline-block;
    position: relative;
    @include adaptiveValue("margin-bottom", 40, 10, 0, 1272, 450);
    // margin-bottom: 40px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: -15%;
      width: 130%;
      bottom: -30%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(253, 29, 29, 1) 0%,
        rgba(66, 255, 0, 1) 50%,
        rgba(36, 0, 255, 1) 100%
      );
    }
  }

  // .about-section__text

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 14, 0, 1272, 326);
    font-size: 18px;
    line-height: 222%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #fff;
    max-width: 992px;
    text-align: center;
  }

  // .about-section__line

  &__line {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  // .about-section__list

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: line-translate 10s linear infinite;
    max-height: 25px;
    flex-shrink: 0;
    column-gap: 60px;
    // padding-right: 60px;
    padding-left: 60px;
  }

  // .about-section__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 60px;
    font-family: var(--second-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    text-transform: capitalize;
    color: #fff;

    //
    flex-wrap: nowrap;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-image: linear-gradient(
        90deg,
        hsl(0, 100%, 50%) 0%,
        hsl(104, 100%, 50%) 48.9%,
        hsl(248, 100%, 50%) 100%
      );
      //   flex: none;
    }
  }
}
