@keyframes light-right {
  0% {
    -webkit-transform: translate(30%, 30%) scale(1);
    transform: translate(30%, 30%) scale(1);
  }
  33% {
    -webkit-transform: translate(-300%, -40%) scale(0.8) rotate(180deg);
    transform: translate(-300%, -40%) scale(0.8) rotate(180deg);
  }
  66% {
    -webkit-transform: translate(20%, -50%) scale(1.1) rotate(270deg);
    transform: translate(20%, -50%) scale(1.1) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(30%, 30%) scale(1) rotate(360deg);
    transform: translate(30%, 30%) scale(1) rotate(360deg);
  }
}
@keyframes light-left {
  0% {
    -webkit-transform: translate(-30%, -30%) scale(1);
    transform: translate(-30%, -30%) scale(1);
  }
  33% {
    -webkit-transform: translate(300%, 100%) scale(0.8) rotate(180deg);
    transform: translate(300%, 100%) scale(0.8) rotate(180deg);
  }
  66% {
    -webkit-transform: translate(-30%, 60%) scale(1.1) rotate(270deg);
    transform: translate(-30%, 60%) scale(1.1) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(-30%, -30%) scale(1) rotate(360deg);
    transform: translate(-30%, -30%) scale(1) rotate(360deg);
  }
}

@keyframes line-translate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
