// .page {
//   // .page__section

//   &__section {
//   }
// }
.edits-section {
  display: block;
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.99) 85.54%
      )
      center/ 110%,
    url(/img/group1_2_11zon.webp) center / cover no-repeat;
  // .edits-section__container
  &__container {
    @include adaptiveValue("padding-top", 120, 30, 0, 1272, 450);
    // .edits-section__title
  }
  &__title {
    display: inline-block;
    position: relative;
    @include adaptiveValue("margin-bottom", 120, 20, 0, 1272, 450);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 130%;
      bottom: -30%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(253, 29, 29, 1) 0%,
        rgba(66, 255, 0, 1) 50%,
        rgba(36, 0, 255, 1) 100%
      );
    }
  }

  // .edits-section__slider

  &__slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
}
.slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include adaptiveValue("column-gap", 40, 20, 0, 1272, 450);
  // .slide__card

  &__card {
    text-align: center;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.01);
        span {
          color: #5d048d;
        }
      }
    }
  }

  &__video {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 360px;
    @include adaptiveValue("margin-bottom", 40, 20, 0, 1272, 450);
    @include adaptiveValue("width", 360, 180, 0, 1272, 450);
    aspect-ratio: 1 / 1;
  }
  // .slide__title

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 14, 0, 1272, 450);
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s;
  }
}
