// .page {
//   // .page__section

//   &__section {
//   }
// }
.testimonials-section {
  display: block;
  // .testimonials-section__title
  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 120, 20, 0, 1272, 450);
    align-items: center;
    @include adaptiveValue("padding-top", 200, 80, 0, 1272, 450);
    @include adaptiveValue("padding-bottom", 200, 80, 0, 1272, 450);
  }
  &__title {
    display: inline-block;
    position: relative;
    @include adaptiveValue("padding-bottom", 20, 6, 0, 1272, 450);
    // @include adaptiveValue("margin-bottom", 40, 10, 0, 1272, 450);
    // margin-bottom: 40px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: -15%;
      width: 130%;
      bottom: 0;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(253, 29, 29, 1) 0%,
        rgba(66, 255, 0, 1) 50%,
        rgba(36, 0, 255, 1) 100%
      );
    }
  }
  // .testimonials-section__cards

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("column-gap", 80, 20, 0, 1272, 750);
    flex-wrap: wrap;
    row-gap: 20px;
    @media (max-width: 650px) {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  // .testimonials-section__card

  &__card {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    align-self: stretch;
    justify-content: center;
    // min-width: 230px;

    @media (max-width: 900px) {
      flex-basis: 230px;
      max-width: 230px;
      min-height: 240px;
    }
  }
}

.card-testimonials {
  text-align: center;
  @include adaptiveValue("padding-top", 70, 35, 0, 1272, 450);
  @include adaptiveValue("padding-bottom", 70, 35, 0, 1272, 450);
  @include adaptiveValue("padding-left", 40, 30, 0, 1272, 450);
  @include adaptiveValue("padding-right", 40, 30, 0, 1272, 450);
  background-color: blueviolet;
  // .card-testimonials__name

  &__name {
    font-family: var(--font-family);
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 20, 0, 1272, 450);
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }

  // .card-testimonials__position

  &__position {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    @include adaptiveValue("font-size", 20, 18, 0, 1272, 450);
    line-height: 175%;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 10px;
  }

  // .card-testimonials__text

  &__text {
    display: block;

    font-family: var(--font-family);
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 14, 0, 1272, 450);
    line-height: 175%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
  }
}
