@import "/scss/mixins";
.title {
  font-family: var(--font-family);
  font-weight: 700;
  @include adaptiveValue("font-size", 60, 24, 0, 1272, 450);
  //   @include adaptiveValue("font-size", 60, 24);
  line-height: 117%;
  text-transform: uppercase;
  color: #fff;
}
