
@import url(fonts.css);
@import url(reset.css);

body {
    font-family: "ProximaNova", sans-serif;
    background-color: #F8F8F8;
    color: #535353;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {}

/* header info styles */
.header__info {
    padding-top: 15px;
    margin-bottom: 15px;
   
}
.info-header {}
.info-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.info-header__nav {}
.info-nav {}
.info-nav__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
} 
.info-nav__item {}

.info-nav__link {
 transition: all 0.3s;
}
@media (any-hover: hover) {
    .info-nav__link:hover {
        text-decoration: underline 2px ;
        color: #FFBC57;
    }
}
.info-header__aciton {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px; 
}
.info-header__social {
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.info-social {}

.info-social__text {
}
.info-social__list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    }

.info-social__item {
    transition: all 0.3s;
    flex-shrink: 0;
}
@media (any-hover: hover) {
    .info-social__item:hover {
        transform: scale(1.2);
    }
}
.info-social__link {
    max-width: 30px;
}
.info-social__link img {
    max-width: 100%;
}
.info-header__lang {}

.info-lang {
    cursor: pointer;
    position: relative;
}
.info-lang:hover .info-lang__list {
    top: 100%;
    opacity: 1;
    pointer-events: all;
}
.info-lang__label {
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.info-lang__label::after{
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 8px;
    background: url(../img/header/information/arrow.svg) 0 0 /100% no-repeat;
}
.info-lang__list {
    position: absolute;
    pointer-events: none;
    top: 100%;
    background-color: #f89b0f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid ;
    border-radius: 8px;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 5;
}

.info-lang__item {
    font-weight: 600;
    font-size: 19px; 
}
.info-lang__item:not(:last-child) {
    margin-bottom: 5px;
}
@media (any-hover: hover) {
    .info-lang__link:hover {
    text-decoration: underline;
    color: #fff;
    }
}
@media (any-hover: hover) {
    .info-lang__list:hover {
        
    }
}
.info-lang__link {}
/* genral header styles */

.header__general {
    background: #fff;
    padding: 25px 0;
    border-bottom:#F8F8F8 solid 2px;

}

.general-header {}

.general-header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 10px;
}
.general-header__menu-icon {
    display: none;
}
.general-header__logo {
    margin-right: 5px;
    width: 250px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
   z-index: 2;
}
.general-header__logo img {
    width: 250px;
    height: 100%;
}
.general-header__button {
    z-index: 2;
    text-align: center;
    position: relative;
    background-color: #ffbc57;
    padding: 11px 20px;
    border-radius: 8px;
    min-height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    transition: all 0.3s;
     flex-grow: 0;
     
    }
.general-header__button span {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    overflow: clip;
    align-items: center;
    color: #fff;
    gap: 10px;
}
.general-header__button span::before {
    content: "";
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url(../img/header/general/menu-catalog.svg) 0 0 /100% no-repeat;
    transition: all 0.5s;
}

@media (any-hover: hover) {
    .general-header__button:hover span::before {
        transform: rotate(360deg) scale(1.1);
        filter: drop-shadow(0px 0px 5px #807c75);
        
    }
}
@media (any-hover: hover) {
    .general-header__button:hover {
        background-color: #fcb03d;
        box-shadow: 2px 2px 2px;
        transform: scale(1.02);
    }
}

.general-header__search {
    position: relative;
      border: 1px solid #b1b1b1;
    border-radius:  8px;
    z-index: 2;
    max-width: 400px;
}
.search-header {
    flex-grow: 1;
}
.search-header__input {
    height: 50px;
    padding: 10px 50px 10px 15px ;
  

}
.search-header__input::-webkit-search-decoration,
.search-header__input::-webkit-search-cancel-button {
    display: none;
}
.search-header__input::placeholder {
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.search-body-header__input:focus::placeholder {
    opacity: 0;
}
@media (any-hover: hover) {
.search-header__input {
    border-radius: 8px;
}
}
.search-header__button {
    background: url("../img/header/general/seach.svg") center no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    transition: all 0.5s;
}
.search-header__button::before,
.search-header__button::after {
    display: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #524b4b;
    bottom: 45%;
    left: 0;
    transform: rotate(45deg);
    transition: all 0.5s;
    
    /* border-radius: 50%; */

}
.search-header__button::after {
    display: none;
    top: 45%;
    left: 0;
    transform: rotate(-45deg);
}

.general-header__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.contacts-general {}

.contacts-general__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F8F8F8 ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    transition: all 0.3s;
} 
.contacts-general__icon img {
    max-width: 24px;
}
@media (any-hover: hover) {
    .contacts-general__icon:hover  {
        background-color: #e8e7e7;
        transform: rotate(45deg) ;
    }
}
.contacts-general__body {
    position: relative;
    padding-right: 20px;
}
.contacts-general__label {
    font-weight: 300;
    font-size: 13px;
    line-height: 169%;
}
.contacts-general__phones {
}
.phones-contacts {
}
.phones-contacts::after {
    content: "";
    width: 12px;
    height: 8px;
    background: url(../img/header/general/arrow.svg) 0 0/100% no-repeat;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    right: 0;
    top:40%;

}

.phones-contacts__tell {
    color: #2b2929;
    font-size: 20px;  
    font-weight: 600;
    line-height: 28px;
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .phones-contacts__tell:hover{
        text-decoration: underline;
        color: #eab25e;
    }
}
.phones-contacts__list {
    pointer-events: none;
    position: absolute;
    top: 100%;
    background-color: #f8bd64;
    border: 1px solid ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s;
}

/* .contacts-general__body:hover .phones-contacts__list, */
.phones-contacts:hover .phones-contacts__list{
    top: 100%;
    opacity: 1;
    pointer-events: all;
}

.phones-contacts__item{ }

.phones-contacts__link {
    color: #2b2929;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
@media (any-hover: hover){
.phones-contacts__link:hover {
    color: #ffffff;
    text-decoration: underline;
}
}
.general-header__actions {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    position: relative;
        z-index: 2;
}

.general-header__link {
    border:2px solid #fcb03d;
    border-radius: 50%;  
    transition: all 0.3s; 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 0; */
    flex-shrink: 0;
}
.general-header__link img {
    max-width: 25px;
}
@media (any-hover: hover) {
    .general-header__link:hover {
        background-color: #fcb03d;
    }
}
.general-header__link:nth-child(1) {
    padding: 12px 10px 11px 11px;
}.general-header__link:nth-child(2) {
    padding:11px 11px 10px 10px;
}
/* navigation section header  */
.header__navigation {}

.navigation-header {
    background-color: #fff;
}
.navigation-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    flex-wrap: wrap;
}
.navigation-header__offers {
    
}
.offers-navigation {}

.offers-navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 10px;
    
    flex-wrap: wrap;
}
.offers-navigation__item { 
    flex-shrink: 0;
    flex-wrap: wrap;  
}
.offers-navigation__link {


}
.offers-navigation__link img{
  max-width: 24px;
}
.navigation-header__menu {}

.menu-navigation-header {}

.menu-navigation-header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.menu-navigation-header__item {}

.offers-navigation__link {
display: flex;
align-items: center;
gap: 10px;
}
.offers-navigation__link,
.menu-navigation-header__link {
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .offers-navigation__link:hover,
    .menu-navigation-header__link:hover {
        text-decoration:2px underline;
        color: #f89b0f;
    }
}
@media (max-width: 1199.98px) {
      .general-header__logo {
        width: 170px;
     }
    .menu-navigation-header__list,
    .offers-navigation__list {
        column-gap: 20px;
    }
    .info-nav__list { 
        column-gap: 15px;
    }
    .general-header__button span::before {
        display: none;
    }
    .general-header__container {
        column-gap: 20px;
        z-index: 4;
    }

}
@media (max-width: 991.98px) {
    .info-social__text {
        display: none;
    }
    .header__general {
        position: fixed;
        top: 0;
        z-index: 4;
        padding-top: 15px;
        padding-bottom: 5px;
        width: 100%;   
         }
    .general-header__menu-icon {
        display: block;
        position: relative;
        height: 18px;
        width: 30px;
        flex-shrink: 0;
        z-index: 2;
    }
    /*.info-lang__label::after {
        transform: rotate(180deg);
    }
    .info-lang__list {
        top: ;
    }
   .info-lang:hover .info-lang__list {
        top:100%;
     }*/
    .general-header__menu-icon span,
    .general-header__menu-icon::before,
    .general-header__menu-icon::after{
     content: "";
     height: 2px;
     width: 100%;
     position: absolute;
     left: 0;
     background-color: #000;
    transition: all 0.5s;
    }
    .general-header__menu-icon::before {
        top: 0;
    }
    .general-header__menu-icon::after {
        bottom: 0;
    }
    .general-header__menu-icon span {
        top: 50%;
        transform: translate(0px, -50%);
    }
    .navigation-header {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 90%;
        background-color: #ebe3e3;
        border: 1px solid #000;
        border-radius: 8px;
        z-index: 1;
        padding-top:  120px;
        overflow: auto;
        transition: all 0.5s;
    }
    .menu-open .navigation-header::before,
    .menu-open .navigation-header {
       right: 0;
    }
    .menu-open .general-header__menu-icon span {
        display: none;
    }
    
    .menu-open .general-header__menu-icon::before {
        transform: rotate(45deg);
        top: 45%;
    }
    
    .menu-open .general-header__menu-icon::after {
         transform: rotate(-45deg);
        bottom: 45%;
    }
    .navigation-header::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 90px;
        background-color: #fff;
        z-index: 1;
        /* opacity: 0; */
    }
     .info-header__container,
    .navigation-header__container{
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: px;
        border-bottom: 2px solid  #ffffff ;
    }
    .navigation-header__container{
    flex-direction: column;
    
   }
.info-nav__list{
    margin-bottom: 40px;
}
    .info-nav__list,
    .menu-navigation-header__list,
    .offers-navigation__list {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
        
    }
    .info-nav__list{
            flex-direction: column-reverse;
        }
    .info-nav__link,
    .offers-navigation__link,
    .menu-navigation-header__link {
        font-size: 28px;
        font-weight: 600;
        color: #201f1f;
    }
    .info-header{
        display: none;
    }
    .info-header__aciton {
        align-self: stretch;
        justify-content: space-between;
        
    }
    .contacts-general__body {
        display: none;
    }
    .general-header__actions{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        /* background-color: #e1ddddb5; */
        }
    /* .general-header__actions{
        position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       padding: 10px;
       display: flex;
       justify-content: space-around;
       background-color: #e1ddddb5;
    } */
    .general-header__button {
        max-width: 60%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
@media (max-width: 600px) {
    .header__general {
        padding-top: 15px;
            padding-bottom: 0px;
        }
    .general-header__logo {
        width: 250px;

        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 0;
        position: relative;
    }
    .general-header__container::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid #f4f4f4ea;
        width: 100%;
        bottom: 50%;
    }
    .navigation-header::before {
    height: 130px;
 } 
  .navigation-header {
    padding-top: 150px;
    width: 70%;
 }  
   .general-header__search {
       display: none;
   }

   .search-header__button {
       border-radius: 50%;
       border: 2px solid #fcb03d;
   }

   .search-header__button,
   .general-header__link {
       width: 40px;
       height: 40px;
   }

   .search-header__button {
       position: relative;
       margin-left: 0px;
       min-width: 40px;
       transition: all 0.5s;
   }


   .search-open .search-header__button::before,
   .search-open .search-header__button::after {
       display: block;
       
   }

   .search-open .search-header__button {
       background: none;
   }

   .general-header__actions {
       column-gap: 10px;
       align-items: center;
   }

   .search-open .general-header__search {
       display: block;
       position: absolute;
       top: 100%;
       width: 100%;
       height: 50px;
       background-color: #fff;

   }
}
@media (max-width: 540px) {
    .info-lang__list {
        top: -100%;
    }
      
.general-header__container {
    justify-content: space-around;
}
.general-header__logo {
    gap: 10px;
    width: 210px;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
        /* flex-wrap: wrap; */
    }
    .general-header__logo img {
    width: 200px;
        
    }
     .general-header__container {
    column-gap: 10px;
    /* flex-wrap: nowrap; */flex-wrap: wrap;
    }
  [class*="__container"] {
      padding-left: 5px;
      padding-right: 5px;
  }
  .navigation-header {
    width: 90%;
  }

}   
/* general section */
 .general-header__menu-icon::before {
     top: 0;
 }

 .general-header__menu-icon::after {
     bottom: 0;
 }

 .general-header__menu-icon span {
     top: 50%;
     transform: translate(0px, -50%);
 }
/* main */
.main__baner {}

.baner {
    padding-top: 30px;
    margin-bottom: 70px;
    border-radius: 8px;
    transition: all 0.3s;
}

.baner__image {
    width: 100%;
    max-width: 1290px;
    max-height: 420px;
    border-radius: 8px;
}
@media (any-hover: hover){
    .baner:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}

/* popular categories */
.main__popular {}

.popular-categories {
    margin-bottom: 70px;
}

.heading {}

.popular-categories__title {}

.popular-categories__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 25px;
}

.popular-categories__item {
    flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 0;
    width: 20%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #69666630;
    transition: all 0.5s;
}
@media (any-hover: hover) {
.popular-categories__item:hover {
    box-shadow: 0 0 15px #333131a6;
    transform: scale(1.02);
}
}
.card-categories {}

.card-categories__link {
    display: inline-block;
    border-radius: 8px;
    width: 100%;
    background: url(../img/popular_categories/bg-card.svg) 0 100% / 100% no-repeat, #fff;
}

.card-categories__link::before {
    content: "";
    position: absolute;
    background: url(../img/popular_categories/arrow.svg) 0 0/ 100% no-repeat;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}
@media (any-hover: hover) {
   .card-categories__link:hover::before {
    transform: scale(1.1) rotate(360deg);
    box-shadow: 0 0 3px #f3a42e;

} 
}

.card-categories__info {}

.card-categories__title {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 160px;
    overflow: clip;
}

.card-categories__number {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #b1b1b1;
    position: absolute;
    max-width: 50px;
    overflow: clip;
    top: 20px;
    right: 20px;
}

.card-categories__picture {

 height: 100%}

.card-categories__image {
    width: 100%;
}

/* popular product */
.main__popular-products {
    margin-bottom: 80px;
}

.products {}
.popular-categories__title,
.shares-section__heading--heading,
.products__section--heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #2b2929;
}

.products__title {

    margin-right: 30px;
}

.products__link {
    position: relative;
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    color: #ffbc57;
}
@media (any-hover: hover) {
   .products__link:hover {
    transform: scale(1.01);
    color: #f8ad3c;
    text-decoration: underline 3px;
} 
}


.products__link::before {
    content: "";
    position: absolute;
    background: url(../img/popular_products/vector.svg) 0 0/ 100% no-repeat;
    right: -30px;
    bottom: 6px;
    width: 12px;
    height: 12px;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.products__card {}

.card-products {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #e3e2e2;
    border-radius: 8px;
}
.card-products__picture {
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s;
}
@media (any-hover: hover) {
  .card-products__picture:hover {
    transform: scale(1.1);

}  
}
.card-products__image {
    border-radius: 8px;
    max-height: 220px;
    max-width: 100%;
}
.card-products__info {
    margin-bottom: 20px;
    flex-basis: 118px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-products__size {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 169%;
    color: #2b2929;
    margin-bottom: 10px;
}

.card-products__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    color: #2b2929;
    margin-bottom: 10px;
    transition: all 0.2s;
}
@media (any-hover: hover) {
  .card-products__title:hover {
    color: #f3a42e;
    text-decoration: underline;
    cursor: pointer;
}  
}
.card-products__availability {
    font-weight: 300;
    font-size: 13px;
    line-height: 169%;
    color: #2b2929;
    display: block;
}

.card-products__availability img {
    max-width: 24px;
    margin-right: 5px;
}

.card-products__bottom {
    display: flex;
    justify-content: space-between;
}

.card-products__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-products__old-price {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    text-decoration: line-through;
    color: #e03d3d;
}

.card-products__new-price {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.card-products__icons {
    display: inline-block;
}

.card-products__selected,
.card-products__basket {
    border-radius: 50%;
    padding: 11px 12px;
    max-width: 50px;
    padding: 11px 12px;
    transition: all 0.3s;
}

.card-products__selected {
    background-color: #f8f8f8;
    margin-right: 10px;
}
@media (any-hover: hover) {
  .card-products__selected:hover {
    background-color: #cdc3c3;
    transform: scale(1.1);
    cursor: pointer;
}  
}


.card-products__basket {
    background-color: #ffbc57;
}

.card-products__basket:hover {
    background-color: #f89b0f;
    transform: scale(1.1);
}

/* section-shares */
.main__section-shares {}

.shares-section {}

.shares-section__title {
    margin-right: 30px;

}

.shares-section__link {
    position: relative;
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    color: #ffbc57;
    transition: all 0.3s;
}

.shares-section__link:hover,
.shares-section__link::before {
    transform: scale(1.01);
    color: #f8ad3c;
    text-decoration: underline 3px;
}
@media (any-hover: hover) {
.shares-section__link::before {
    content: "";
    position: absolute;
    background: url(../img/popular_products/vector.svg) 0 0/ 100% no-repeat;
    right: -30px;
    bottom: 6px;
    width: 12px;
    height: 12px;
}
}

.shares-section__items {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap;

}

.shares-section__item {
    max-width: 410px;
    border-radius: 8px;
    transition: all 0.3s;
}
@media (any-hover: hover) {
 .shares-section__item:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 8px;
}   
}
.shares-section__image {
    width: 100%;
    border-radius: 8px;
}

/* footer */
.footer__container {
    padding: 40px 5px 0;
    position: relative;
}

.footer__block {

    font-size: 28px;
    font-weight: 600;
    background-color: #4e5a338f;
    
}

.footer__item {
    padding-top: 15px;
    margin-bottom: 10px;
}

.footer__link {
    display: inline-block;
    background-color: #d47c68a3;
    border-radius: 12px;
    padding: 10px;
    max-width: 150px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    position: relative;
    text-align: center;
    transition: all 1s;
    color: rgb(218, 30, 30);
    box-shadow: 3px 3px 2px #000;
}

.footer__link:hover {
    background-color: #74d263a5;
    color: #0e6219;
}

.footer__link::before {
    content: "";
    position: absolute;
    border-radius: 12px;
    border: 2px solid #2b292953;
    border-right: 3px solid #e10c0c;
    background-color: rgb(218, 30, 30);
    height: 100%;
    max-width: 20px;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
}

.footer__link:hover::before {
    transform: translate(650%) rotate(360deg);
    background-color: #06f125;
    border: 2px solid #2b292955;
    border-left: 3px solid #06f125;
}
@media (max-width: 991.98px) {
    .baner {
        padding-top: 170px;
        margin-bottom: 50px;
    }

    .popular-categories {
        margin-bottom: 50px;
    }

    .main__popular-products {
        margin-bottom: 50px;
    }
    .popular-categories__title,
    .shares-section__heading--heading,
    .products__section--heading {
         margin-bottom: 25px;
         font-size: 32px;   
        }
    .footer__container{
        margin-bottom: 70px;
    }
}
@media (max-width: 600px) {
    .baner {
        padding-top: 160px;
       
    }
    .popular-categories__title,
    .shares-section__heading--heading,
    .products__section--heading {
        margin-bottom: 20px;
        font-size: 28px;
    }
}
@media (max-width: 555px) {
    .baner {
        padding-top: 160px;
        margin-bottom: 30px;
    }

    .popular-categories {
        margin-bottom: 30px;
    }

    .main__popular-products {
        margin-bottom: 50px;
    }
}
