.general-section__menu {
    display: none;
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2b2929;
    margin-left: 15px;
}

.general-section__menu:target {
    display: block;
}

.menu {}

.menu__list {
    border-radius: 8px 0;
    padding: 8px 0;
    background-color: #fff;
}

.menu__item {
    width: 100%;
    overflow-y: auto;
}

.menu__item:hover .sub-menu {
    display: block;
}

.menu__link * {
}

.menu__link {
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 10px 30px 10px 30px;
    /* transition: all 0.5s; */
}
.menu__link > span,
.menu__link img{
    vertical-align: middle;
    /* display: inline-block; */
}
.menu__link:hover {
    background-color: #FFBC57;
}

.menu__link img {
    max-width: 40px;
    margin-right: 20px;
}

.menu__link::after {
    content: "";
    background: url(../img/arrow.svg) 0 0 no-repeat;
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    right: 15px;
    top: 18px;
}

.menu__link:hover::after {
    background: url(../img/arrow1.svg) 0 0 no-repeat;
    transform: scale(1.1)
}

.sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    height: 100%;
    width: 318px;
    border-radius: 0 8px 8px 0;
    padding: 8px 0;
}

.sub-menu__item:hover >.menu__link {
    background-color: #FFBC57;
}
.sub-menu__list {
    height: 100%;
    position: relative;
    overflow-y: auto;
    margin-left: 5px;
}

.sub-menu::before {
    content: "";
    position: absolute;
    border-left: 5px solid #ffbc57;
    height: calc(100% - 16px);
    width: 5px;
    top: 8px;
    left: 0;
}

.sub-menu__item {

    background-color: #fff;

}

.sub-menu__item:hover {
    background-color: #FFBC57;
}

.sub-menu__link {
    font-size: 19px;
    line-height: 1.2;
    padding: 15px 15px;
    width: 100%;
}