
@import url("fonts.css");
@import url(reset.css);


body {
    background-color: rgba(40, 38, 38, 0.419);
}
.wrapper {
    padding:0  15px ;
    min-height: 100%; 
}

[class*="__container"] {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header {
    padding-top: 20px;
    margin-bottom: 30px;
}

.header__title {
    font-size: 42px;
    font-weight: 900;
    text-decoration: underline;
    color: #4f3004;
    text-align: center;
}
.page__form {
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: rgba(59, 95, 22, 0.615);
    border: 10px solid #000000f2;
    border-radius: 20px;
    font-family: sans-serif;
}
.form {}
.form__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
.form__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.form__label {
  font-size: 22px;
  flex: 1 1 auto;
cursor: pointer;
}
.form__input {
    background-color: rgb(180, 177, 172);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 15px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis:  350px;
    /* text-align: center; */
    color: #000000;
}
.form__input::placeholder {
    color: rgb(92, 89, 89);
}
.form__input:focus {
    outline: 2px solid #4f3004;
    box-shadow: 3px 3px #000;
}
#happiness.form__input {
    padding: 0;
    color: rgb(22, 201, 9);
}
.form__input--color,
.form__input--lang{
    max-width: 50px;
    padding: 2px 2px;
    width: 100%; 
}
.form__radio-title,
.form__checkbox-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.form__checkbox-label,
.form__radio-label {
    font-size: 22px;
    position: relative;
    cursor: pointer;
}
.form__radio-label {
    font-size: 18px;
}
.form__radio-label span,
.form__checkbox-label span {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s;
}

.form__checkbox-label span:hover,
.form__radio-label:hover {
    text-decoration: underline;
}
.form__text-checkbox::before,
.form__text-radio::before {
    content: "";
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: rgb(10, 143, 7);
    transition: all 0.3s;
    align-self: flex-start;
    /* margin-right: 20px; */
}
.form__text-radio::before{
    background-color: rgb(166, 107, 6);
}
.form__input-checkbox,
.form__input-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.form__input-checkbox:checked + .form__text-checkbox::before {
    background: rgb(12, 187, 9) url(../img/pngwing.png) center / contain no-repeat;
    border-radius: 30%;
}
.form__input-checkbox:focus+.form__text-checkbox {
    outline: 2px solid #4f3004;
    border-radius: 8px;
    
}
.form__input-radio:checked+.form__text-radio::before {
    background: rgb(255, 163, 3) url(../img/pngwing.png) center / contain no-repeat;
    border-radius: 30%;
}
.form__input-radio:checked+.form__text-radio {
    outline: 2px solid #4f3004;
    border-radius: 8px;
}
/* button */
.form__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.form__button {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #000000;
    background-color: rgb(74, 132, 17);
    transition: all 0.1s;
}
.form__button:hover {
    background-color: rgb(90, 168, 12);
}
.form__button:active {
    background-color: rgb(105, 199, 12);
    box-shadow: 0px 0px 1px #000000;    
}
/* form-h */
.page__h-form {

}
.form-h {
    background-color: #F8F8F8;
    font-family: "ProximaNova", sans-serif;
}
.form-h__body {
    max-width: 740px;
    /* min-width: 100%; */
    margin: 0 auto;
    background-color: #fff;
}
.form-h__section {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}
.form-h__section:not(:last-child) {
    border-bottom: 5px solid #F8F8F8;
}
.coment-section__signature,
.payment__signature,
.delivery-section__head,
.form-h__signature {
     gap: 13px;
}
.payment__signature,
.form-h__signature{
    margin-bottom: 10px;
}
.signature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* .form-h__signature h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 131%;
    color: #2b2929;
} */
.form-h__input {
    border: 1px solid #d1d5d5;
    border-radius: 8px;
    padding: 10px 20px;
    width: 325px;
    height: 50px;
}
.payment__radio-input,
.delivery-section__check-input,
.form-h__check-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.form-h__check-label {
    flex-basis: 332px;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    position: relative;
    /* max-height: 30px; */
}
.form-h__check-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 127%;
    color: #535353;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    transition: all 0.3s;
}
.form-h__check-text::before {
    content: "";
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #535353;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    /* align-self: center; */
}
.form-h__check-input:checked + .form-h__check-text::before {
    background:#2bff0188 url(../img/pngwing.png) 0 0 /100% no-repeat;
}
.form-h__check-input:focus+.form-h__check-text::before {
    outline: 1px solid #fc9503ae;
}
.form-h__section {}

/* delivery section */

.delivery-section {
    gap: 30px;
}
.signature h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 131%;
    color: #2b2929;
}
.delivery-section__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    row-gap: 10px;
    flex-wrap: wrap;
    position: relative;
}
.delivery-section__check-label {
     padding: 20px;
    text-align: center;
    flex-basis: 210px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 3px solid #f8f8f8;
    border-radius: 8px;
    cursor: pointer;
}
.delivery-section__check-label img {
    max-width: 40px; 
}
.delivery-section__check-label:hover {
   background-color: #67625847;
}
.delivery-section__check-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    text-align: center;
}
.delivery-section__check-input:checked + .delivery-section__check-label {
    background-color: #8f8f8f16;
    outline: 3px #ffa305;
}
.delivery-section__check-input:focus+.delivery-section__check-label {
    outline: 2px solid #ff9501;
}
.delivery-section__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.info {
   background-color:  #f8f8f8;
   padding:20px ;
   border-radius: 8px;
   max-width: 680px;
} 
.info__content {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    margin-left: 60px;
}
.info__content::before {
    content: "";
    position: absolute;
    background: url(../img/location.svg) 0 0/ 100% no-repeat;
    width: 40px;
    height: 40px;
    left: -60px;
    top: 10px;
}
.info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
}
.info__adress {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2b2929;
}
.info__button {
    border-radius: 8px;
    max-width: 142px;
    max-height: 50px;
    background-color:#ffbc57 ;
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    color: #fff;
}
.info__link-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 13px 20px;
}
.info__button:hover {
    background-color: #ff9b05;
}
.info__link-button::before {
    content:"" ;
    background: url(../img/map.svg) 0 0/ 100% no-repeat;
    width: 24px;
    height: 24px;
}

/* payment sec */
.form-h__section {

}

.payment {
    flex-direction: column;
}
.payment__radio-label {
    display: inline-flex;
   align-items: center;
   position: relative;
   gap: 10px;
   flex-wrap: wrap;
cursor: pointer;

}
.payment__radio-label img{
    max-width: 48px;
    cursor: pointer;
}
.payment__radio-text {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    color: #2b2929;
}
.payment__radio-text::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #535353;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    margin-right: 10px;
    /* vertical-align: middle; */
}
.payment__radio-text:hover {
    text-decoration: 2px underline;
}
.payment__radio-input:checked+.payment__radio-text::before {
    background: #f19100 url(../img/rb.svg) 0 0 /cover no-repeat;
    max-width: 24px;
    border: 2px solid #f19100;
}
.payment__radio-input:focus+.payment__radio-text{
    outline: 2px solid #0c0c0c;
    border-radius: 5px;
}

.coment-section textarea {
    border: 1px solid #d1d5d5;
    border-radius: 8px;
    padding: 10px 20px;
    width: 680px;
    height: 150px;
}
.coment-section button {
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    padding: 8px 30px;
    max-width: 460px;
    background-color: #ffbc57; 
    margin: 0 auto;
}
.coment-section button:hover {
    background-color: #f19100;
}
