@font-face {
	font-family: "AmstelvarAlpha";
	src: url("../fonts/coral_fonts/AmstelvarAlpha-Variations.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova_bold.woff") format("woff");
	src: url("../fonts/proximanova_bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova_semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova_regular.woff") format("woff");
	src: url("../fonts/proximanova_regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova_light.woff") format("woff");
	src: url("../fonts/proximanova_light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}